* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
  color: inherit;
}

a:hover {
  text-decoration: none;
}

ol, ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

a {
  cursor: pointer;
}

._hidden {
  display: none;
}

.wrapper {
  width: 100%;
  height: 100%;
  background-color: #f3f3f3;
  display: flex;
  justify-content: center;
  color: #6e7c8c;
}

.sudoku__header {
  display: flex;
  margin: 100px 0 40px 0;
  font-size: 30px;
  justify-content: center;
}
.sudoku__level {
  font-weight: 600;
  margin-right: 20px;
}
.sudoku__level-button {
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 20px;
  background-color: #f3f3f3;
}
.sudoku__level-button:hover {
  background-color: rgba(110, 124, 140, 0.5);
}
.sudoku__error {
  margin: 0 15px;
}
.sudoku__timer {
  display: flex;
}
.sudoku__timer img {
  filter: brightness(0) invert(0.5);
  cursor: pointer;
}
.sudoku__time {
  margin-right: 10px;
}
.sudoku__game {
  width: 100%;
  display: flex;
  justify-content: center;
}
.sudoku__field {
  position: relative;
}
.sudoku__field table {
  border-collapse: collapse;
  border: 2px solid black;
}
.sudoku__field td {
  width: 40px;
  height: 40px;
  border: 1px solid black;
  text-align: center;
  font-size: 20px;
  position: relative;
}
.sudoku__additional-elements {
  width: 25%;
  display: flex;
  flex-direction: column;
}
.sudoku__numpad {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  position: relative;
}
.sudoku__numpad-item {
  padding: 20px 30px;
  background-color: #eaeef4;
  margin: 10px;
  border-radius: 5px;
  transition: all 0.3s ease 0s;
}
.sudoku__numpad-item span {
  font-size: 40px;
  color: blue;
}
.sudoku__numpad-item:hover {
  background-color: #c9cdd2;
  cursor: pointer;
}
.sudoku__button {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  background-color: #0072e3;
  color: white;
  width: 80%;
  padding: 10px;
  margin: 10px;
  font-size: 30px;
  transition: all 0.3s ease 0s;
}
.sudoku__button:hover {
  background-color: #0257ad;
}

.preloader {
  width: 361.6px;
  height: 361.6px;
  background-color: #f3f3f3;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
}
.preloader__not-active {
  display: none;
}

.hidden-element {
  position: absolute;
  z-index: 100;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: white;
}
.hidden-element span {
  position: absolute;
  top: 25%;
  left: 35%;
}

.clicked {
  background-color: #7fbcf8;
}

.illumination {
  background-color: #c2dbf5;
}

.clicked.error {
  color: red;
  background-color: #7fbcf8;
}

.error {
  color: black;
  background-color: rgb(143, 25, 25);
}

.active {
  color: #0257ad;
}

._pause {
  position: absolute;
  top: 0;
  left: 0;
  background-color: white;
  z-index: 150;
  width: 100%;
  height: 97%;
  cursor: pointer;
}
._pause::after {
  content: "";
  position: absolute;
  top: 37%;
  left: 42%;
  background-image: url(/pause-play.8ec0dcb2.png);
  width: 64px;
  height: 64px;
}

.preloader {
  width: 361.6px;
  height: 361.6px;
  background-color: #f3f3f3;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
}
.preloader__not-active {
  display: none;
}

.hidden-element {
  position: absolute;
  z-index: 100;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: white;
}
.hidden-element span {
  position: absolute;
  top: 25%;
  left: 35%;
}

.clicked {
  background-color: #7fbcf8;
}

.illumination {
  background-color: #c2dbf5;
}

.clicked.error {
  color: red;
  background-color: #7fbcf8;
}

.error {
  color: black;
  background-color: rgb(143, 25, 25);
}

.active {
  color: #0257ad;
}

._pause {
  position: absolute;
  top: 0;
  left: 0;
  background-color: white;
  z-index: 150;
  width: 100%;
  height: 97%;
  cursor: pointer;
}
._pause::after {
  content: "";
  position: absolute;
  top: 37%;
  left: 42%;
  background-image: url(/pause-play.8ec0dcb2.png);
  width: 64px;
  height: 64px;
}

._winner {
  position: absolute;
  background: url(https://phonoteka.org/uploads/posts/2021-04/1617305297_23-p-tort-s-sharikami-fon-pozdravlenie-28.jpg) no-repeat;
  background-size: cover;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1000;
}

._hidden {
  display: none !important;
}

._transparent-block {
  position: absolute;
  width: 100%;
  height: 81%;
  z-index: 1000;
  top: 0;
  left: 0;
}

.game-win {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 20px;
  color: black;
  font-size: 16px;
  padding-left: 10px;
}

/*# sourceMappingURL=/sudoku.80ee2152.css.map */